
.console__container {
  display: flex;

  .console__form {
    font-size: 14px;
    background-color: black;
    color: #ff6600;
    border: 1px solid red;
    height: 350px;
    width: 375px;
    border-radius: 4px;
    //margin: 0px 25px 25px 155px;
    margin: 55px 0px 0px 45px;
    outline-width: 0;
  }

  .terminate__button {
    height: 48px;
    width: 100px;
    border-radius: 4px;
    outline-width: 0;
    background-color: red;
    color: black;
    border: 1px solid black;
    font-size: 15px;
    margin: 90px 0px 0px 25px;
    bottom: 0;
  }
}