@media (min-width: 1440px) {
  .terminal__container {
    height: 400px;

    .terminal__form {
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 450px;
      margin: 0;

      .fileName__text {
        font-size: 14px;
        background-color: black;
        color: limegreen;
        border: 1px solid #065e31;
        height: 35px;
        width: 200px;
        border-radius: 4px;
        text-indent: 10px;
        outline-width: 0;
        padding: 0px 0px 0px 0px;
        margin: 15px 0px 0px 45px;
      
      }

      .form__input {
        font-size: 14px;
        color: limegreen;
        background-color: black;
        border: 1px solid #065e31;
        height: 350px;
        width: 375px;
        border-radius: 4px;
        padding: 0px 0px 0px 0px;
        margin: 25px 0px 0px 45px;

        outline-width: 0;

        float: left;
      }

      .form__button {
        color: black;
        background-color: #065e31;
        height: 48px;
        width: 100px;
        border-radius: 4px;
        border: none;
        margin: 0px 0px 0px 450px;
        font-size: 15px;

        outline-width: 0;
      }

    }

  }

}

@media (min-width: 768px)
    and (max-width: 1439px) {

}

@media (min-width: 320px) 
    and (max-width: 767px) {

}